<!--navbar.ejs, Noorulhuda Khamees, 301291589, Oct 05, 2023-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <link rel="stylesheet" href="/Content/style.css"/>
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">
       <img  src="/img/logo.png" alt="logo" style: width="130px"; height="100px" >
      </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0" style="font-size: large; color: #53525200;">

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/about"></i>About Me</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/projects"></i>Projects</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/services"></i>Services</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/contact"></i>Contact Me</a>
        </li>
      </ul>
    </div>
  </div>
</nav>