<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<!--about.ejs, Noorulhuda Khamees, 301291589, Oct 05, 2023-->

<main class="container">
    <div class="jumbotron">

    <h1>About Me!</h1>
    <span style="float: inline-start;">
    <img src="/img/avatar.png" class="Profile-Pic" id="ProfilePic" alt="Profile Photo"  style:  width="150px"; height="225px";>
    

    <h4>Noorulhuda Khamees</h4>
    <p>I am a proficient educator specializing in secondary mathematics education, curriculum development, and course design. My instructional approach is meticulously tailored to address 
        the unique needs of each student, with the overarching goal of enhancing their learning experiences and nurturing their self-confidence to drive academic success. I hold a Bachelor
         of Science in Mathematics Education from the University of Baghdad and a Diploma in Video Game Design from Oxford College. I am in the third semester of the Software Engineering
          Technology program at Centennial College. In addition to my educational background, I possess diverse skills, including exceptional interpersonal and communication abilities.
           I pride myself on being a quick learner, adept at managing time effectively, and adept at multitasking. Furthermore, I have a strong foundation in troubleshooting and problem-solving,
            supported by a natural analytical mindset.
    </p>
    <a href="/Content/Resume.pdf">My Resume (PDF)</a>

    </div>
</main>

<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>



   