<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>


<!--index.ejs, Noorulhuda Khamees, 301291589, Oct 05, 2023-->

<link rel="stylesheet" href="/Content/style.css"/>
<main  class="container">
<div class="jumbotron">
 
    <h1>Welcome to My Portfolio Site</h1>
    
    <p>Welcome to my portfolio website! Dive into my creative odyssey and uncover a realm of design, innovation, and fervor. Please take a moment to peruse my body of work, 
        and don't hesitate to reach out if you'd like to collaborate or simply extend a warm greeting. Thank you for dropping by!</p>

    <p> My mission is to inspire, innovate, and ignite creativity in every visitor who steps into my digital world. I believe that creativity
         knows no bounds and that technology can be a powerful catalyst for positive change. I am dedicated to sharing my passion for design, 
         innovation, and all things creative through my work. Whether you're here to explore my portfolio, learn something new,
          or collaborate on exciting projects, I am here to support your creative journey. Join me in my mission to make the digital world a
          more beautiful, innovative, and inspiring place for all.</p>

          <p>  <a href="/about"> Explore More!</a></p>

        


</div>
</main>

<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>



   