 <%- include('partials/header.ejs') %>
 <%- include ('partials/main_nav.ejs') %>
  <!--Projects.ejs, Noorulhuda Khamees, 301291589, Oct 05, 2023-->
<h1>My Projects</h1>

<div class="row">
       <!-- Project 1 -->
  <div class="col-md-4">
    <div class="card">

      <h5 class="card-title">Desert Scene</h5>

      <img src="/img/P1.png" class="card-img-top" alt="project1 " style="height: 350px;width: 470px; float: center;">

      <div class="card-body">

        <p class="card-text" > 
          I've created a stunning desert environment scenes. By utilizing the power of unreal engine libraries and creating
          materials, I'm able to bring a level of realism to these virtual environments that are truly
          impressive. It's all about creating an immersive experience for the user, and I'm always
          striving to push the boundaries of what's possible.
        </p>  
    
      </div>
    </div>
  </div>

    <!-- Project 2 -->
  
  <div class="col-md-4">
    <div class="card">
      <h5 class="card-title">Window Animation</h5>
      <img src="img/P2.png" class="card-img-top" alt="project2" style="height: 350px;width: 470px; float: center;">
      <div class="card-body">
        
        <p class="card-text">
          I utilized animation tools within Unreal Engine to breathe life into a character by creating a dynamic window project with captivating movement.
        </p>
       <p> To explore more projects, Please visit my <a href="https://www.linkedin.com/in/noor-khamees-90a620116/" > LinkedIn</a> profile</p>
      </div>
    </div>
  </div>

  <!-- Project 3 -->
  
  <div class="col-md-4">
    <div class="card">
      <h5 class="card-title">Tie Fighter Modeling</h5>
      <img src="img/P3.png" class="card-img-top" alt="project3" style="height: 350px;width: 470px; float: center;" >
      <div class="card-body">
        
        <p class="card-text">
          I have successfully completed the Tie Fighter project. I initiated the modelling process in this project by generating the base mesh.
          Subsequently, I employed sculpting and extrusion techniques to add depth and details. I utilized UV mapping to prepare them for the texture painting phase to
          ensure accurate texture application.
      </div>
    </div>
  </div>
</div>
 <style>


 </style>


  <%- include('partials/footer.ejs') %>
 

