<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<!--services.ejs, Noorulhuda Khamees, 301291589, Oct 05, 2023-->

<main class="container">
    <div class="jumbotron">

    <h1>Services</h1>
    <ul>
        
        <li><strong>Coding Tools:</strong> Online code editors and collaboration features.</li>
        <li><strong>Community Support:</strong> Forums for discussions and networking.</li>
        <li><strong>Documentation:</strong> Official guides for languages and frameworks.</li>
        <li><strong>Version Control:</strong> Git-based project hosting.</li>
        <li><strong>Competitions:</strong> Coding challenges and contests.</li>
        <li><strong>Education:</strong> Online courses and certifications.</li>
        <li><strong>Coding Utilities:</strong> Tools for code validation and testing.</li>
        <li><strong>Open Source:</strong> Support for open-source contributions.</li>
        <li><strong>Code Sharing:</strong> Platforms for sharing and collaborating.</li>
        <li><strong>Webinars & Workshops:</strong> Live learning events.</li>
      </ul>      

    </div>
</main>

<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>



   